/* media query for laptop */


.hero-section{
    height: 8.5rem;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 1rem;
    
}


.section-div{
    position:absolute;
    left:15px;
    bottom:35%;
}

.section-div button{
    background-color: #98FF98;
    cursor: 'pointer';
    width:5rem;
    height:2.5rem;
    margin-left: 2rem;
}
.input{
    height:2.5rem;
     width:25rem;
}

.header{
    height: 52vh;
    
}

.header h1 {
    margin-top: 11rem;
}

.header p{
    max-width:450px;
    word-wrap:'break-word';
    margin: 1rem auto 0 auto;
    font-weight:'normal';
    font-size:20px;
   
}
@media only screen and (max-width:768px){
    .section-div{
        position:absolute;
        left:15px;
        bottom:30%;
    }
    .input{
        width: 12rem;
        
        
    }
    .header{
        height: 62vh;
    }
    .header p{
        max-width: 400px;
        font-size: 18px;
    }

    .header h1{
        margin-top: 7rem;
    }
    
}


 